body {
	border: 1px solid black;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	margin-left: 359px;
	margin-right: 350px;
	margin-bottom: 100px;
}

#name { 
	
	margin-left: 300px;
}

#address { 
	
	margin-left: 300px;
}

#city { 
	
	margin-left: 300px;
}
#email { 
	
	margin-left: 300px;
}

#phone { 
	
	margin-left: 300px;
}

div {
	height: 100px;
	width: 100px;
	border-radius: 6px;
	border: 5px solid black;
}

#outer {
	height: 1000px;
	width: 200px;
	background-color: #45ADA8;
	position: fixed;
	margin-left: -475px;
	margin-top: -475px;
}